:root{

    font-size: 62.5%; 

 /* ------ Color -------*/

 --background-primary: #1E1E1E;
 --title-color: #FFFFFF;
 --butons-color: #DB880C;
 --window-color: #F1F1F1;

 /* ---- width ------ */
--aside-2w: 51rem;

 --main-w: 102.4rem;
 --main-h: 60.4rem;
 --h1-h: 9.3rem;
 --p-height: 3rem;

 --input-textnumber-w: 32.2rem;
 --input-textnumber-h: 4.6rem;
 --input-textnumber-r: 5rem;

 --input-radio-h: 2.5rem;
 --imput-radio-w: 2.5rem;

 --checkbox-h: 2rem;
 --checkbox-w: 2rem;

 --a-w: 1.4rem;
 --a-h: 4rem;
 --a-br: 5rem;

 --asidesec-w: 31.3rem;
 --asidesec-h: 32.4rem;
 --asidesec-r: 2rem;

 /* ---- margin ---- */
 --h1-mtop: 5.7rem;

 --input-text-mtop: 0.7rem;
}

@font-face {
    font-family: 'Bebas', cursive;
    src: url(../asets/fonts/BebasNeue-Regular.otf) format(otf) ;
}

body{
    background-color: var(--background-primary);
    color: var(--title-color);
}

main{
    width: var(--main-w);
    height: 50rem;
    margin: auto;
    background-color: red;
}
main h1{
    height: var(--h1-h);
    padding-top: var(--h1-mtop);
    background-color: blue;
    box-sizing: border-box;
    text-align: center;
}
main header {
    width: var(--aside-2w);
    display: inline-block;
}
main header input[type=number]{
    width: var(--input-textnumber-w);
    height: var(--input-textnumber-h);
    border-radius: var(--input-textnumber-r);
    border-style: none;
}
main header input[type=text]{
    width: var(--input-textnumber-w);
    height: var(--input-textnumber-h);
    border-radius: var(--input-textnumber-r);
    border-style: none;
}
main header form p {
    height: 3rem;
    background-color: green;
}
main header form input[type=radio]{
    height: var(--input-radio-h);
    width: var(--imput-radio-w);
} 
input[type=checkbox]{
    height: var(--checkbox-h);
    width: var(--checkbox-w);
    background-color: aqua;
}
main aside {
    width: var(--aside-2w);
    float: right;
}
main aside section {
    width: var(--asidesec-w);
    height: var(--asidesec-h);
    margin: auto;
    border-radius: var(--asidesec-r);
    text-align: center;
    background-color: orange;
}
main aside div {
    background-color: green;
    width: var(--asidesec-w);
    height: var(--a-h);
    margin: auto;
    margin-top: 20px;
    
    
}
main aside div a{
    box-sizing: border-box;
    padding: var(--a-w) var(--a-h);
    border-radius: var(--a-br);
    border: 1px solid var(--window-color);
    color: var(--title-color);
    display: inline-block;
    margin: 0px 0px 0px 17px;

    
    
    
}
