:root{

    font-size: 62.5%; 

 /* ------ Color -------*/

 --background-primary: #1E1E1E;
 --title-color: #FFFFFF;
 --butons-color: #DB880C;
 --window-color: #F1F1F1;
 

/* -------- size --------- */

--button-size-w : 20.7rem;
--button-size-h : 5.7rem; 
--main-w: 102.4;

--article-w: 86.8rem;
--h1-w: 86.8rem;
--h1-h: 14.2rem;
--pw: 77rem;
--ph: 15.2rem;

/*  --------- margin --------- */

--main-mtop: 7.4rem;
--h1-mb: 2.4rem;
--p-mtop: 3rem;
--p-mb: 5.6rem;

/* --------border size ------- */
--button-border-r: 2rem;


}

@font-face {
    font-family: 'Bebas', cursive;
    src: url(../asets/fonts/BebasNeue-Regular.otf) format(otf) ;
}


body{
background-color: var(--background-primary);
}
main{
    width: var(--main-w);
    margin: auto;
    margin-top: var(--main-mtop);
    box-sizing: border-box;
   

}
main article{
    color: var(--title-color);
    width: var(--article-w);
    margin: auto;
   
    
}
article h1{
    font-family:'Bebas', cursive;
    font-size: 10rem;
    text-align: center;
   

    /* Devido ao tamanho da letra que está incompatível com as medidas do figma, o ligne heigt e o tamanho da letra estão incorretos , assim como a fonte*/
    
    width: var(--h1-w);
    height: var(--h1-h);

    margin-bottom: var(--h1-mb);
    margin: auto;
    box-sizing: border-box;

}

p, nav {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

main article section p{
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
    
    
    /* Devido ao tamanho da letra que está incompatível com as medidas do figma, o tamanho da letra estão incorretos , assim como a fonte e o padding*/

    width: var(--pw);
    height: var(--ph);
    margin: auto;
    margin-top: var(--p-mtop);
    margin-bottom: var(--p-mb);
    padding: 2.3rem ;

}

main nav{
    display: flex;
    justify-content: space-around;
    font-weight: 400;
}
nav a{
    color: var(--background-primary);
    background-color: var(--butons-color);
    width: var(--button-size-w);
    height: var(--button-size-h);
    border-radius: var(--button-border-r);
    text-align: center;
    box-sizing: border-box;
    
/* nessesaria correção na fonte e no tamanho */
    font-size: 1.8rem;
    font-weight: 800;
    padding-top: 17px;
}


nav a:hover, a:focus{
    background-color: #ebebeb;
    transition: 1300ms;
    box-shadow: 0 0 5px #ffffff,
              0 0 25px #f1dfad,
              0 0 50px #f5e58a,
              0 0 80px #ffffff;
    outline: none;
}
    /* observar se realmente foi uma mudança benefica */

